*,
*::before,
*::after {
  box-sizing: border-box;
}
/* * {
  outline: 1px solid red;
} */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.img-section3 {
  width: 100%;
}
.upper {
  text-transform: uppercase;
}

.offer {
  height: 5vh;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-image: linear-gradient(
    to right,
    #180e0a,
    #fc4c02,
    #fc4c0280,
    #fc4c0280,
    #a2762e,
    #180e0a
  );
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Navbar */

.sticky {
  position: fixed;
  top: 0;
  z-index: 4;
}

.nav {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  font-weight: bold;
  padding: 0.1rem 1.5rem;
}
.main-logo {
  height: 20px;
}
.cart-logo {
  height: 40px;
  cursor: pointer;
}

.main-nav ul li {
  list-style: none;
}
.main-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Dropdown Nav */

.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: black;
  color: rgb(196, 196, 196);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: black;
}
.dropbtn:hover {
  text-decoration: underline #fc4c02 4px;
}

/* Hamburger CSS */
#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 3;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 18vh;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: black;
  overflow: hidden;
}

.mobile-menu li {
  margin-bottom: 10px;
}

/* .section1  */
.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.section1 p {
  color: white;
  position: absolute;
  top: 30%;
  z-index: 1;
}
.section1 h2 {
  color: white;
  top: 40%;
  position: absolute;
  font-size: xx-large;
  font-weight: bold;
  z-index: 1;
  letter-spacing: 2px;
}

.btn-section1 {
  position: absolute;
  top: 60%;
  z-index: 1;
}
.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.btn-section1 {
  background-color: #fc4c02;
  color: white;
  border: none;
  height: 3rem;
  padding: 1rem 2rem;
  cursor: pointer;
}
#chat-svg {
  height: 30px;
  width: 30px;
}
#chat-messenger-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  align-self: flex-end;
  border-radius: 100%;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}

/* Section2 */
.section2 {
  background-color: #fc4c02;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.logos {
  background-color: #fc4c02;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "one two three"
    ". . ."
    "seven eight nine";

  padding: 30px 100px;
}

.logo {
  margin-left: 3rem;
  margin-right: 3rem;
  height: 3.7rem;
  width: 12rem;
}
.section2-logo1 {
  grid-area: one;
}
.section2-logo2 {
  grid-area: two;
}
.section2-logo3 {
  grid-area: three;
}
.section2-logo4 {
  grid-area: seven;
}
.section2-logo5 {
  grid-area: eight;
}
.section2-logo6 {
  grid-area: nine;
}

/* Section3 */

.section3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px;
  background-color: black;
}
svg {
  width: 70px;
  height: 70px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  position: relative;
  padding-bottom: 4rem;
}

.btn-section3 {
  background-color: #fc4c02;
  color: white;
  border: none;
  height: 3.3rem;
  width: 15rem;
  padding: 1.2rem 3rem;
  position: absolute;
  bottom: 10px;
  border-radius: 10px;
}

.ranger .btn-section3 {
  background-color: #6e8a62;
}

.talons .btn-section3 {
  background-color: #f89f01;
}

.commander .btn-section3 {
  background-color: #fe1001;
}

/* section4 */

.section4 {
  width: 100%;
  padding: 40px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 20px;
  background-color: #2f2f2e;
  color: white;
}
.section4-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section4-card p {
  width: 50%;
}

/* Section5 */
.section5 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
  background-color: black;
  gap: 30px;
  padding: 60px;
}
.section5-img {
  width: 100%;
}
.section5-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  width: 80%;
}
.input {
  width: 100%;
  height: 3.2rem;
}
.email {
  background-color: black;
  color: white;
  border-radius: 5px;
  border: 1px solid #d4cec2;
}
.submit {
  background-color: #503526;
  border: none;
  border-radius: 5px;
  color: white;
}

/* Section6 */
.section6 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 25vh;
  background-color: #3a3b3a;
  color: white;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2b2b2b;
  color: white;
  overflow: hidden;
  padding: 30px 40px 25px 40px;
}

.section-footer__title_pit {
  font-size: xx-large;
  margin-top: 40px;
  margin-bottom: 10px;
  color: #e99c08;
}

.section-footer__title {
  font-size: large;
  margin-top: 40px;
}

.form-full {
  display: flex;
  align-items: center;
}

.footer-btn {
  height: 3rem;
  padding: 1rem 1.5rem;
  color: white;
  background-color: #e99c08;
  border: none;
}
.footer-email-btn {
  height: 3rem;
  padding: 1rem 1.5rem;
  color: white;
  background-color: white;
  border: none;
}

.footer_sec_b_first_menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer_sec_b_first_menu li a {
  text-decoration: none;
  color: white;
}
.footer_sec_b_sec_menu {
  list-style: none;
}
.footer_sec_b_sec_menu li a {
  text-decoration: none;
  color: white;
}
.footer_third_b_first_menu {
  list-style: none;
}
.footer_third_b_first_menu li a {
  text-decoration: none;
  color: white;
}
.footer_fourth_b_first_menu {
  list-style: none;
}
.footer_fourth_b_first_menu li a {
  text-decoration: none;
  color: white;
}
.section-footer {
  display: grid;
  grid-template-columns: 35% 20% 20% 25%;
}

.social-icon {
  height: 30px;
  width: 30px;
}
.social-links__list {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.copyright {
  margin: 2rem auto;
}

.copyright a {
  text-decoration: none;
  color: white;
}

/* Media query for hamburger */
@media screen and (max-width: 1100px) {
  .main-nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
  .logos {
    padding: 20px 80px;
  }
  .logo {
    margin-left: 2rem;
    margin-right: 2rem;
    height: 3rem;
    width: 10rem;
  }
}

@media screen and (max-width: 1000px) {
  .section5 {
    grid-template-columns: repeat(1, 1fr);
    color: white;
    background-color: black;
    gap: 0px;
    padding: 10px;
  }
  .section-footer {
    padding: 50px;
    grid-template-columns: 50% 50%;
    gap: 40px;
  }
}

@media screen and (max-width: 770px) {
  .section-footer {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 640px) {
  .section1 h2 {
    font-size: large;
    font-weight: bold;
    z-index: 1;
    letter-spacing: 1px;
  }

  .logo {
    margin-left: 0rem;
    margin-right: 0rem;
    height: 2.8rem;
    width: 6rem;
  }
  .logos {
    padding: 5px 10px;
    grid-template-areas:
      "seven eight nine"
      ". two ."
      "one . three";
    gap: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .offer p {
    width: 70%;
  }
  .main-logo {
    height: 16px;
  }
  .section3 {
    grid-template-columns: auto;
    padding: 0px;
  }
  .section4 {
    padding: 10px;
    grid-template-columns: auto;
    gap: 10px;
  }
  .social-icon {
    height: 20px;
    width: 20px;
  }
}
